body {
	font-family: helvetica, Arial, sans-serif;
}
div#header {
	display: block;
	text-align: center;
	font-weight: bold;
	margin: 10px auto 50px auto;
}
div#header h1{
	font-size: 24px;
}
div#header h2{
	font-size: 20px;
	margin: 10px auto;
}
div#container{
	width: 100%;
	min-width: 1400px;
	margin: 0 auto;
}
div#wheel{
	margin: 0px 10px;
	float: left;
}
div#jeopardy div {
	display: block;
	margin: 10px 10px;
	font-size: 16px;
}
div#jeopardy div span{
	display: inline-block;
	border: 2px solid #003399;
	width: 100px;
	margin: 5px 5px;
	text-align: center;
	border-radius: 5px;
	background-color: #3366CC;
	color: white;
	line-height: 30px;
}
div#jeopardy div#jeopardyCategories span{
	height: 50px;
	font-weight: bold;
	line-height: 50px;
}
div#players {
	margin: 20px auto 50px auto;
	width: 590px;
}
div#players > div {
	display: inline-block;
	width: 150px;
	margin: 10px 10px;
	padding: 10px 10px;
	border-radius: 5px;
	background-color: #ffc700;
	border: 2px #fff solid;
	line-height: 1.5;
}
div#players > div span.score {
	font-weight: bold;
}
div#players > div.red{
	background-color: red;
}
div#players > div.current {
	border-color: #ff6301;
}
div#spins {
	margin-left: 60px;
}